@model MvcRatings.Models.Album
@{
    ViewData["Title"] = "AddSong";
}

<h1>Add song to: </h1>

<div class="container" style="width:40%;margin-top:2%">

    @using (Html.BeginForm("SaveSong", "Song", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.ArtistId,new { @class = "form-control", @placeholder = "ArtistId" })
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Title" })
        @Html.TextBoxFor(model => model.ReleaseDate, new { @class = "form-control", @placeholder = "Release Date" })

        <input type="submit" value="Submit" class="btn btn-block btn-primary" />

    }

</div>
<div>
    @Html.ActionLink("Back to List", "AlbumTestsView")
</div>